.label-commune {
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    text-indent: 0;
    text-align: center;
    text-decoration: none;
    line-height: 100%;
    letter-spacing: 0px;
    word-spacing: 0px;
    text-transform: none;
    direction: ltr;
    block-progression: tb;
    writing-mode: lr-tb;
    text-anchor: middle;
    baseline-shift: baseline;
    color: #000000;
    fill: #000000;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: none;
    stroke-width: 1px;
    marker: none;
    visibility: visible;
    display: inline;
    overflow: visible;
    enable-background: accumulate;
    font-family: Nimbus Sans L;
}

.commune {
    fill: #fefecd;
    fill-opacity: 1;
    stroke: #000000;
    stroke-width: 0.50000000000000000;
    stroke-linecap: round;
    display: inline
}

.commune2 {
    fill: #fefecd;
    fill-opacity: 1;
    stroke: #000000;
    stroke-width: 0.50038189000000000;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-dasharray: none
}

.commune3 {
    fill: #fefecd;
    fill-opacity: 1;
    stroke: #000000;
    stroke-width: 0.50554347;
    stroke-linecap: round;
    display: inline
}

.departements {
    display: inline;
}

.label-departements {
    font-size: 18px;
    font-weight: bold;
}

.label-departements2 {
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    text-indent: 0;
    text-align: center;
    text-decoration: none;
    line-height: 100%;
    letter-spacing: 0px;
    word-spacing: 0px;
    text-transform: none;
    direction: ltr;
    block-progression: tb;
    writing-mode: lr-tb;
    text-anchor: middle;
    baseline-shift: baseline;
    color: #000000;
    fill: #646464;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: none;
    stroke-width: 1px;
    marker: none;
    visibility: visible;
    display: inline;
    overflow: visible;
    enable-background: accumulate;
    font-family: Nimbus Sans L;
    -inkscape-font-specification: Nimbus Sans L"

}

.communes {
    display: inline;
}

.limit-departements {
    display: inline;
}